@-moz-viewport {width: device-width; scale:1;}
@-ms-viewport {width: device-width; scale:1;}
@-o-viewport {width: device-width; scale:1;}
@-webkit-viewport {width: device-width; scale:1;}
@viewport {width: device-width; scale:1;}

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
}

*, *::before, *::after {
 box-sizing: inherit;   
}

.background-color {
    background-color: #E7E5D9;
}

.masthead {
    background: transparent url("../images/masthead-bg.png") repeat left center;
    text-align: center;
}

.logo {
    width: 1.3em;
    vertical-align: middle;
    margin: 0 0.2 0 0;
}

.title {
    background: #E7E5D9;
    display: inline-block;
}


.img-flex {
    display: block;
    width: 100%;
}

.img {
    position: relative;
}

.reward {
    background: #87714f;
    color: white;
}

.wanted {
    width: 4em;
    display: block;
    margin: auto;
}

div {
    margin: 0;
    padding: 0;
}